
/*common*/
.img, .article_content img {max-width: 100%}
a:link, a:hover, a:active, a:visited {text-decoration:none;}
.navbar a:focus, .navbar a:hover {color: #fff}

/*nav*/
.navbar {min-height: 50px;margin-bottom:0px;background: #dd0000;}
.navbar-header {height: 50px;line-height: 50px;}
.navbar-brand {color:#fff;}

/*loading*/
@-webkit-keyframes loading-anim{0%{-webkit-transform:rotate(0)} 50%{-webkit-transform:rotate(180deg)} 100%{-webkit-transform:rotate(360deg)}} 
.page-loading{position:absolute;left:0;top:50px;right:0;bottom:0;display:inline-block;background-color:#fff;z-index:1000;text-align:center} 
.page-loading-text{color:#888;font:400 16px/30px normal} 
.page-loading-logo,.page-loading-anim{margin-top:160px;height:70px;width:70px;display:inline-block;background:url(/media/img/loading-logo-webapp.png) 0 0 no-repeat;background-size:70px 140px} 
.page-loading-anim{margin:0;-webkit-animation:loading-anim 2s linear infinite;background-position:0 -70px}

/*list*/
.media {margin-top:8px;padding-bottom:8px; border-bottom: 1px solid #f5f5f5;text-align:left;}
.media-list{margin:10px;}
.media-heading {font-size:16px;}

/*more*/
.ui-refresh{ display: block; height:36px;line-height:36px;background-color:#f8f9fa;text-align:center;border:1px solid #ebedef;border-radius:1px;color:#545454;margin:14px 40px}

/*swiper_pager*/
.swiper_c .swiper-pagination{bottom: 0; text-align: right}
.swiper_c .swiper-pagination-bullet{width:5px;height:5px;background: #fff;opacity: .6}
.swiper_c .swiper-pagination-bullet-active{width:6px;height:6px;opacity: 1}

/*swiper*/
.swiper-container {
    width: 100%;
}
.swiper-slide {
    text-align: center;
    background: #fff;
    width: 100%;
}

/*index nav*/
.nav_bar {
    position: relative; 
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 40px;
    background: #fff;
}
.nav_bar span {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    background: #fff;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    opacity: 0.8;
}
.nav_bar span.swiper-pagination-bullet-active  {
    border-bottom: 2px solid #dd0000;
    color: #dd0000;
}


